n8n-workflows/01-meet-processor.json
{
  "name": "4D - Process Transcript",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4d-process-transcript",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-transcript",
      "name": "Webhook: Recebe Transcrição",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "4d-process-transcript",
      "notes": "Caller: Firebase Functions agentChatMessage->processOnboardingTranscript (callN8nWithRetry, sync). Payload: {uid, userProfile{name,email}, transcriptText, driveFileUrl, callbackUrl}."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $request.headers['x-webhook-secret'] }}",
              "value2": "={{ $env.WEBHOOK_SECRET }}",
              "operation": "equals"
            }
          ]
        }
      },
      "id": "validate-secret-1",
      "name": "Valida Webhook Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'unauthorized' } }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "unauthorized-response-1",
      "name": "Resposta: Não Autorizado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 460]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "responseFormat": "json_object",
          "temperature": 0.2
        },
        "messages": {
          "values": [
            {
              "content": "Você é um assistente especializado em extração de dados de saúde. Analise a transcrição da consulta e retorne APENAS um JSON com este schema exato: {\"diagnostics\": string[], \"medications\": string[], \"allergies\": string[], \"hasBloodTest\": boolean, \"suggestedStatus\": \"pending_blood_test\" | \"exam_request_sent\" | \"active\"}. Use hasBloodTest=true quando o paciente mencionar ter realizado exames de sangue recentes ou trouxer resultados. suggestedStatus: pending_blood_test se hasBloodTest=true, exam_request_sent caso contrário.",
              "role": "system"
            },
            {
              "content": "Nome: {{ $json.body.userProfile?.name || 'desconhecido' }}\n\nTranscrição:\n{{ $json.body.transcriptText }}",
              "role": "user"
            }
          ]
        }
      },
      "id": "openai-extract-1",
      "name": "OpenAI: Extrai Dados de Saúde",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [680, 300],
      "credentials": {
        "openAiApi": {
          "id": "openAiApi",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "uid", "value": "={{ $('Webhook: Recebe Transcrição').item.json.body.uid }}" }
          ],
          "object": [
            { "name": "extractedHealthData", "value": "={{ JSON.parse($json.choices?.[0]?.message?.content || '{}') }}" }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "set-parse-1",
      "name": "Set: Parse Extracted Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [900, 300],
      "notes": "Parse único do JSON da IA. extractedHealthData fica disponível como objeto."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, hasBloodTest: $json.extractedHealthData.hasBloodTest || false, extractedHealthData: $json.extractedHealthData, suggestedStatus: $json.extractedHealthData.suggestedStatus || (($json.extractedHealthData.hasBloodTest) ? 'pending_blood_test' : 'exam_request_sent'), timestamp: $now.toISO() } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "success-response-1",
      "name": "Resposta: Sucesso (sync)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300],
      "notes": "Caller é sync (processOnboardingTranscript aguarda return). Não fazemos HTTP callback aqui pra evitar dupla escrita."
    }
  ],
  "connections": {
    "Webhook: Recebe Transcrição": {
      "main": [
        [{ "node": "Valida Webhook Secret", "type": "main", "index": 0 }]
      ]
    },
    "Valida Webhook Secret": {
      "main": [
        [{ "node": "OpenAI: Extrai Dados de Saúde", "type": "main", "index": 0 }],
        [{ "node": "Resposta: Não Autorizado", "type": "main", "index": 0 }]
      ]
    },
    "OpenAI: Extrai Dados de Saúde": {
      "main": [
        [{ "node": "Set: Parse Extracted Data", "type": "main", "index": 0 }]
      ]
    },
    "Set: Parse Extracted Data": {
      "main": [
        [{ "node": "Resposta: Sucesso (sync)", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["programa-4d", "transcript", "processamento"],
  "pinData": {},
  "versionId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
  "id": "meet-processor-001",
  "_meta": {
    "description": "Recebe transcrição da consulta de onboarding (chamada sync via callN8nWithRetry), extrai dados de saúde estruturados com OpenAI (modo json_object), e retorna {hasBloodTest, extractedHealthData, suggestedStatus} para o Firebase Cloud Function processOnboardingTranscript salvar no Firestore.",
    "envVars": {
      "WEBHOOK_SECRET": "Mesmo valor de N8N_WEBHOOK_SECRET no Firebase Functions"
    },
    "credentials": {
      "openAiApi": "Criar em n8n → Credentials → OpenAI API com chave de API"
    },
    "changelog_2026_05_20": [
      "BUG FIX: usar transcriptText (era transcript - field não enviado pelo caller)",
      "BUG FIX: IA agora extrai hasBloodTest (era pulled erradamente de $json.body)",
      "REFACTOR: response_format=json_object na OpenAI; parse único via Set (era 3x inline JSON.parse)",
      "REFACTOR: removido HTTP callback duplicado (caller é sync, basta respondToWebhook)",
      "NAMING: workflow renomeado para padrão '4D - <Função>'"
    ],
    "importInstructions": "1. Importar este JSON no n8n. 2. Configurar credencial OpenAI API. 3. Definir env WEBHOOK_SECRET. 4. NÃO ATIVAR — usuário ativa após verificar credenciais."
  }
}
