n8n-workflows/02-exam-processor.json
{
  "name": "4D - Process Blood Test",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4d-process-blood-test",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-exam",
      "name": "Webhook: Recebe Exame",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "4d-process-blood-test",
      "notes": "Caller: Firebase Functions processBloodTest + onBloodTestCreated (fire-and-forget, async). Payload: {uid, bloodTestId, driveFileUrl, existingHealthData?, callbackUrl}."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $request.headers['x-webhook-secret'] }}",
              "value2": "={{ $env.WEBHOOK_SECRET }}",
              "operation": "equals"
            }
          ]
        }
      },
      "id": "validate-secret-2",
      "name": "Valida Webhook Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'unauthorized' } }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "unauthorized-response-2",
      "name": "Resposta: Não Autorizado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 460]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, processingStatus: 'accepted', bloodTestId: $json.body.bloodTestId, timestamp: $now.toISO() } }}",
        "options": {
          "responseCode": 202
        }
      },
      "id": "accepted-response-2",
      "name": "Resposta: 202 Accepted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 220],
      "notes": "Caller é async (fire-and-forget). Respondemos 202 imediatamente; processamento continua e callback chega depois em onBloodTestCallback."
    },
    {
      "parameters": {
        "url": "={{ $('Webhook: Recebe Exame').item.json.body.driveFileUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "http-download-2",
      "name": "HTTP: Download Exame (PDF)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 220],
      "notes": "Justificativa HTTP raw: driveFileUrl pode ser link público do Drive ou GCS signed URL. Se exigir OAuth, trocar este nó pelo Google Drive node."
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data",
        "options": {}
      },
      "id": "extract-pdf-2",
      "name": "Extract from File: PDF → Texto",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [1120, 220]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "responseFormat": "json_object",
          "temperature": 0.1
        },
        "messages": {
          "values": [
            {
              "content": "Você é um assistente especializado em análise de exames laboratoriais. Receba o texto extraído de um exame de sangue e devolva APENAS este JSON: {\"markers\": [{\"name\": string, \"value\": string, \"unit\": string, \"reference\": string, \"status\": \"normal\"|\"alto\"|\"baixo\"}], \"summary\": string, \"analyzed_date\": string}. summary deve ter no máximo 280 caracteres em português.",
              "role": "system"
            },
            {
              "content": "Texto do exame:\n{{ $json.text }}\n\nContexto prévio do paciente: {{ JSON.stringify($('Webhook: Recebe Exame').item.json.body.existingHealthData || {}) }}",
              "role": "user"
            }
          ]
        }
      },
      "id": "openai-extract-2",
      "name": "OpenAI: Extrai Marcadores",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [1340, 220],
      "credentials": {
        "openAiApi": {
          "id": "openAiApi",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "uid", "value": "={{ $('Webhook: Recebe Exame').item.json.body.uid }}" },
            { "name": "bloodTestId", "value": "={{ $('Webhook: Recebe Exame').item.json.body.bloodTestId }}" },
            { "name": "processingStatus", "value": "done" },
            { "name": "summary", "value": "={{ JSON.parse($json.choices?.[0]?.message?.content || '{}').summary || null }}" }
          ],
          "object": [
            { "name": "extractedData", "value": "={{ JSON.parse($json.choices?.[0]?.message?.content || '{}') }}" }
          ]
        },
        "options": { "dotNotation": false }
      },
      "id": "set-parse-2",
      "name": "Set: Monta Payload Callback",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [1560, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.FIREBASE_FUNCTIONS_URL }}/onBloodTestCallback",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Webhook-Secret", "value": "={{ $env.WEBHOOK_SECRET }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { uid: $json.uid, bloodTestId: $json.bloodTestId, extractedData: $json.extractedData, processingStatus: $json.processingStatus, summary: $json.summary } }}",
        "options": {}
      },
      "id": "http-firebase-2",
      "name": "HTTP: Firebase Callback onBloodTestCallback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1780, 220],
      "continueOnFail": true,
      "notes": "Justificativa HTTP raw: chamada a Cloud Function HTTP — não existe nó nativo Firebase. Envia X-Webhook-Secret obrigatório (verifyWebhookSecret no callback)."
    }
  ],
  "connections": {
    "Webhook: Recebe Exame": {
      "main": [
        [{ "node": "Valida Webhook Secret", "type": "main", "index": 0 }]
      ]
    },
    "Valida Webhook Secret": {
      "main": [
        [{ "node": "Resposta: 202 Accepted", "type": "main", "index": 0 }],
        [{ "node": "Resposta: Não Autorizado", "type": "main", "index": 0 }]
      ]
    },
    "Resposta: 202 Accepted": {
      "main": [
        [{ "node": "HTTP: Download Exame (PDF)", "type": "main", "index": 0 }]
      ]
    },
    "HTTP: Download Exame (PDF)": {
      "main": [
        [{ "node": "Extract from File: PDF → Texto", "type": "main", "index": 0 }]
      ]
    },
    "Extract from File: PDF → Texto": {
      "main": [
        [{ "node": "OpenAI: Extrai Marcadores", "type": "main", "index": 0 }]
      ]
    },
    "OpenAI: Extrai Marcadores": {
      "main": [
        [{ "node": "Set: Monta Payload Callback", "type": "main", "index": 0 }]
      ]
    },
    "Set: Monta Payload Callback": {
      "main": [
        [{ "node": "HTTP: Firebase Callback onBloodTestCallback", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["programa-4d", "blood-test", "exames"],
  "pinData": {},
  "versionId": "b2c3d4e5-f6a7-b8c9-d0e1-f2a3b4c5d6e7",
  "id": "exam-processor-002",
  "_meta": {
    "description": "Processamento async de exames de sangue: baixa o PDF do driveFileUrl, extrai texto via extractFromFile (nó nativo), envia para OpenAI extrair marcadores estruturados, e faz callback async para onBloodTestCallback no Firebase com X-Webhook-Secret.",
    "envVars": {
      "WEBHOOK_SECRET": "Mesmo valor de N8N_WEBHOOK_SECRET no Firebase Functions",
      "FIREBASE_FUNCTIONS_URL": "URL base das Cloud Functions (ex: https://southamerica-east1-bela-4d-app.cloudfunctions.net)"
    },
    "credentials": {
      "openAiApi": "Criar em n8n → Credentials → OpenAI API com chave de API",
      "googleDrive": "OPCIONAL — somente se o driveFileUrl exigir OAuth (substituir nó HTTP Download por Google Drive node)"
    },
    "changelog_2026_05_20": [
      "BUG FIX: payload usava examContent (não enviado pelo caller). Agora baixa driveFileUrl real",
      "BUG FIX: callback sem X-Webhook-Secret resultava em 403 no Firebase. Header agora enviado",
      "REFACTOR: respondToWebhook 202 logo após validação (caller é fire-and-forget)",
      "REFACTOR: extractFromFile substitui qualquer tentativa de parser custom (nó nativo)",
      "REFACTOR: JSON.parse único via Set (era duas vezes inline)",
      "REFACTOR: response_format=json_object no OpenAI",
      "NAMING: workflow renomeado para padrão '4D - <Função>'"
    ],
    "importInstructions": "1. Importar este JSON no n8n. 2. Configurar credencial OpenAI API. 3. Definir env WEBHOOK_SECRET e FIREBASE_FUNCTIONS_URL. 4. Se driveFileUrl não for público, substituir HTTP Download pelo Google Drive node + OAuth. 5. NÃO ATIVAR — usuário ativa após verificar credenciais."
  }
}
