n8n-workflows/03-chat-processor.json
{
  "name": "4D - Agent Chat (Belinha)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4d-agent-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-chat",
      "name": "Webhook: Recebe Mensagem",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "4d-agent-chat",
      "notes": "Caller: agentChatMessage (sync). Payload: {uid, sessionId, message, userContext{profile, healthForm, menuForm, interview}}."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $request.headers['x-webhook-secret'] }}",
              "value2": "={{ $env.WEBHOOK_SECRET }}",
              "operation": "equals"
            }
          ]
        }
      },
      "id": "validate-secret-3",
      "name": "Valida Webhook Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'unauthorized' } }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "unauthorized-response-3",
      "name": "Resposta: Não Autorizado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 460]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "userName", "value": "={{ $json.body.userContext?.profile?.name || 'paciente' }}" },
            { "name": "userMessage", "value": "={{ $json.body.message }}" }
          ],
          "object": [
            { "name": "userDiagnostics", "value": "={{ $json.body.userContext?.healthForm?.diagnostics || $json.body.userContext?.interview?.extractedHealthData?.diagnostics || [] }}" },
            { "name": "userMedications", "value": "={{ $json.body.userContext?.healthForm?.medications || [] }}" },
            { "name": "userMenu", "value": "={{ $json.body.userContext?.menuForm || {} }}" }
          ]
        },
        "options": { "dotNotation": false }
      },
      "id": "set-context-3",
      "name": "Set: Extrai Contexto do Usuário",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [680, 300],
      "notes": "Normaliza userContext em campos planos para o prompt da IA."
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "responseFormat": "json_object",
          "temperature": 0.7
        },
        "messages": {
          "values": [
            {
              "content": "Você é a Belinha (Guardiã 4D), nutricionista virtual especializada em diabetes e nutrição metabólica. Tom: empática, acessível, em português brasileiro.\n\nResponda SEMPRE em JSON com este schema EXATO: {\"type\": \"text\" | \"recipe\", \"reply\": string, \"recipe\": null | {\"name\": string, \"ingredients\": string[], \"instructions\": string[], \"calories\": number, \"macros\": {\"carbs\": number, \"protein\": number, \"fat\": number}, \"glycemicLoad\": \"low\"|\"medium\"|\"high\"}, \"xpAwarded\": number}.\n\nRegras:\n- Se o usuário pedir explicitamente uma receita, retorne type='recipe' com objeto recipe completo.\n- Caso contrário, type='text' e recipe=null.\n- xpAwarded: 5 (resposta normal) ou 10 (resposta de receita).\n- Considere os diagnósticos e medicações do paciente para personalizar.\n\nContexto do paciente:\n- Nome: {{ $json.userName }}\n- Diagnósticos: {{ JSON.stringify($json.userDiagnostics) }}\n- Medicações: {{ JSON.stringify($json.userMedications) }}\n- Preferências alimentares (menuForm): {{ JSON.stringify($json.userMenu) }}",
              "role": "system"
            },
            {
              "content": "={{ $json.userMessage }}",
              "role": "user"
            }
          ]
        }
      },
      "id": "openai-chat-3",
      "name": "OpenAI: Belinha Chat",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [900, 300],
      "credentials": {
        "openAiApi": {
          "id": "openAiApi",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "reply", "value": "={{ JSON.parse($json.choices?.[0]?.message?.content || '{}').reply || 'Desculpe, não consegui processar sua mensagem.' }}" },
            { "name": "type", "value": "={{ JSON.parse($json.choices?.[0]?.message?.content || '{}').type || 'text' }}" }
          ],
          "object": [
            { "name": "recipe", "value": "={{ JSON.parse($json.choices?.[0]?.message?.content || '{}').recipe || null }}" }
          ],
          "number": [
            { "name": "xpAwarded", "value": "={{ JSON.parse($json.choices?.[0]?.message?.content || '{}').xpAwarded || 5 }}" }
          ]
        },
        "options": { "dotNotation": false }
      },
      "id": "set-parse-3",
      "name": "Set: Parse Resposta IA",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [1120, 300],
      "notes": "Replaces o antigo nó Code: Parse Response. JSON.parse único por campo (n8n cacheia)."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, reply: $json.reply, type: $json.type, recipe: $json.recipe, xpAwarded: $json.xpAwarded, timestamp: $now.toISO() } }}",
        "options": { "responseCode": 200 }
      },
      "id": "success-response-3",
      "name": "Resposta: Sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Webhook: Recebe Mensagem": {
      "main": [
        [{ "node": "Valida Webhook Secret", "type": "main", "index": 0 }]
      ]
    },
    "Valida Webhook Secret": {
      "main": [
        [{ "node": "Set: Extrai Contexto do Usuário", "type": "main", "index": 0 }],
        [{ "node": "Resposta: Não Autorizado", "type": "main", "index": 0 }]
      ]
    },
    "Set: Extrai Contexto do Usuário": {
      "main": [
        [{ "node": "OpenAI: Belinha Chat", "type": "main", "index": 0 }]
      ]
    },
    "OpenAI: Belinha Chat": {
      "main": [
        [{ "node": "Set: Parse Resposta IA", "type": "main", "index": 0 }]
      ]
    },
    "Set: Parse Resposta IA": {
      "main": [
        [{ "node": "Resposta: Sucesso", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["programa-4d", "chat", "belinha"],
  "pinData": {},
  "versionId": "c3d4e5f6-a7b8-c9d0-e1f2-a3b4c5d6e7f8",
  "id": "chat-processor-003",
  "_meta": {
    "description": "Chat principal com a Belinha (Guardiã 4D). Recebe mensagem + userContext (perfil, healthForm, menuForm, interview), responde via OpenAI em JSON estruturado com type=text|recipe.",
    "envVars": {
      "WEBHOOK_SECRET": "Mesmo valor de N8N_WEBHOOK_SECRET no Firebase Functions"
    },
    "credentials": {
      "openAiApi": "Criar em n8n → Credentials → OpenAI API com chave de API"
    },
    "changelog_2026_05_20": [
      "FEATURE: passa a usar userContext (diagnostics, medications, menuForm) no system prompt — antes era ignorado",
      "REFACTOR: Code node 'Parse Response' substituído por Set node nativo",
      "REFACTOR: response_format=json_object garante JSON válido",
      "REFACTOR: prompt agora explicita schema esperado da IA",
      "NAMING: workflow renomeado para '4D - Agent Chat (Belinha)'"
    ],
    "follow_ups": [
      "Integrar Qdrant Vector Store (coleção belinha-kb) para RAG sobre os 7 docs em 'Documentos de apoio/' — task t_805b656c indexou 31 pontos.",
      "Considerar substituir o nó OpenAI por LLM Router (3 modelos: tier rápido para FAQ, mid para chat, premium para receitas).",
      "Persistir histórico de conversa em Redis ou Firestore via sessionId para multi-turn."
    ],
    "importInstructions": "1. Importar este JSON no n8n. 2. Configurar credencial OpenAI API. 3. Definir env WEBHOOK_SECRET. 4. NÃO ATIVAR — usuário ativa após verificar credenciais."
  }
}
