n8n-workflows/04-recipe-generator.json
{
  "name": "4D - Generate Recipe",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4d-generate-recipe",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-recipe",
      "name": "Webhook: Recebe Requisição",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "4d-generate-recipe",
      "notes": "Caller: Firebase Functions generateRecipe (callN8nWithRetry, sync). Payload: {uid, preferences, userProfile, menuForm, healthForm}."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $request.headers['x-webhook-secret'] }}",
              "value2": "={{ $env.WEBHOOK_SECRET }}",
              "operation": "equals"
            }
          ]
        }
      },
      "id": "validate-secret-4",
      "name": "Valida Webhook Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'unauthorized' } }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "unauthorized-response-4",
      "name": "Resposta: Não Autorizado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 460]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "uid", "value": "={{ $json.body.uid }}" },
            { "name": "userName", "value": "={{ $json.body.userProfile?.name || 'paciente' }}" }
          ],
          "object": [
            { "name": "preferences", "value": "={{ $json.body.preferences || {} }}" },
            { "name": "menuForm", "value": "={{ $json.body.menuForm || {} }}" },
            { "name": "healthForm", "value": "={{ $json.body.healthForm || {} }}" },
            { "name": "userDiagnostics", "value": "={{ $json.body.healthForm?.diagnostics || [] }}" },
            { "name": "userMedications", "value": "={{ $json.body.healthForm?.medications || [] }}" }
          ]
        },
        "options": { "dotNotation": false }
      },
      "id": "set-context-4",
      "name": "Set: Normaliza Contexto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [680, 300],
      "notes": "Normaliza payload em campos planos. Diagnostics/medications vêm do healthForm."
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "responseFormat": "json_object",
          "temperature": 0.7
        },
        "messages": {
          "values": [
            {
              "content": "Você é Belinha, nutricionista virtual especializada em diabetes e nutrição metabólica. Gere UMA receita personalizada considerando os diagnósticos, medicações e preferências alimentares do paciente. Tom: empático, em português brasileiro.\n\nResponda APENAS em JSON com este schema EXATO: {\"id\": null, \"nm\": string, \"e\": string (emoji), \"desc\": string, \"ingredients\": [{\"name\": string, \"quantity\": string, \"unit\": string}], \"steps\": [{\"number\": number, \"instruction\": string}], \"macros\": {\"calories\": number, \"protein\": number, \"carbs\": number, \"fat\": number}, \"prepTime\": string, \"difficulty\": \"fácil\"|\"médio\"|\"difícil\", \"tags\": string[], \"glycemicLoad\": \"low\"|\"medium\"|\"high\"}.\n\nContexto do paciente:\n- Nome: {{ $json.userName }}\n- Diagnósticos: {{ JSON.stringify($json.userDiagnostics) }}\n- Medicações: {{ JSON.stringify($json.userMedications) }}\n- Preferências/MenuForm: {{ JSON.stringify($json.menuForm) }}\n- Preferências da requisição: {{ JSON.stringify($json.preferences) }}",
              "role": "system"
            },
            {
              "content": "Gere uma receita adequada ao perfil acima.",
              "role": "user"
            }
          ]
        }
      },
      "id": "openai-recipe-4",
      "name": "OpenAI: Gera Receita",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [900, 300],
      "credentials": {
        "openAiApi": {
          "id": "openAiApi",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "uid", "value": "={{ $('Set: Normaliza Contexto').item.json.uid }}" }
          ],
          "object": [
            { "name": "recipe", "value": "={{ Object.assign(JSON.parse($json.choices?.[0]?.message?.content || '{}'), { id: $now.toMillis().toString(), uid: $('Set: Normaliza Contexto').item.json.uid, createdAt: $now.toISO() }) }}" }
          ]
        },
        "options": { "dotNotation": false }
      },
      "id": "set-parse-4",
      "name": "Set: Monta Receita",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [1120, 300],
      "notes": "Substitui o nó Code antigo. Atribui id (timestamp), uid e createdAt à receita parseada."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, recipe: $json.recipe, timestamp: $now.toISO() } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "success-response-4",
      "name": "Resposta: Sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300],
      "notes": "Caller (generateRecipe Cloud Function) extrai result.recipe — contract: {recipe: {...}}."
    }
  ],
  "connections": {
    "Webhook: Recebe Requisição": {
      "main": [
        [{ "node": "Valida Webhook Secret", "type": "main", "index": 0 }]
      ]
    },
    "Valida Webhook Secret": {
      "main": [
        [{ "node": "Set: Normaliza Contexto", "type": "main", "index": 0 }],
        [{ "node": "Resposta: Não Autorizado", "type": "main", "index": 0 }]
      ]
    },
    "Set: Normaliza Contexto": {
      "main": [
        [{ "node": "OpenAI: Gera Receita", "type": "main", "index": 0 }]
      ]
    },
    "OpenAI: Gera Receita": {
      "main": [
        [{ "node": "Set: Monta Receita", "type": "main", "index": 0 }]
      ]
    },
    "Set: Monta Receita": {
      "main": [
        [{ "node": "Resposta: Sucesso", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["programa-4d", "recipes", "belinha"],
  "pinData": {},
  "versionId": "d4e5f6a7-b8c9-d0e1-f2a3-b4c5d6e7f8a9",
  "id": "recipe-generator-004",
  "_meta": {
    "description": "Gera receita personalizada para paciente diabético. Caller é sync (generateRecipe Cloud Function). Considera diagnósticos, medicações e menuForm. Retorna {recipe: {...}}.",
    "envVars": {
      "WEBHOOK_SECRET": "Mesmo valor de N8N_WEBHOOK_SECRET no Firebase Functions"
    },
    "credentials": {
      "openAiApi": "Criar em n8n → Credentials → OpenAI API com chave de API"
    },
    "changelog_2026_05_20": [
      "BUG FIX: payload usava $json.body.request (não enviado pelo caller). Caller real envia {uid, preferences, userProfile, menuForm, healthForm}",
      "REFACTOR: nó Code substituído por Set (atribuição de id/uid/createdAt)",
      "REFACTOR: response_format=json_object + schema explícito no system prompt",
      "FEATURE: prompt agora considera diagnostics, medications e menuForm (antes ignorava o contexto)",
      "NAMING: workflow renomeado para '4D - Generate Recipe'"
    ],
    "follow_ups": [
      "Adicionar Qdrant Vector Store (coleção belinha-kb) para RAG sobre receitas existentes em 'Documentos de apoio/'",
      "Considerar uso de uuid v4 nativo (n8n não tem nó built-in; timestamp em ms é workaround simples)"
    ],
    "importInstructions": "1. Importar este JSON no n8n. 2. Configurar credencial OpenAI API. 3. Definir env WEBHOOK_SECRET. 4. NÃO ATIVAR — usuário ativa após verificar credenciais."
  }
}
