n8n-workflows/05-food-classifier.json
{
  "name": "4D - Evaluate Food",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4d-evaluate-food",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-food",
      "name": "Webhook: Recebe Alimento",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "4d-evaluate-food",
      "notes": "Caller: Firebase Functions evaluateFood (callN8nWithRetry, sync). Payload: {uid, foodName, quantity, userDiagnostics, userMedications, userProfile}."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $request.headers['x-webhook-secret'] }}",
              "value2": "={{ $env.WEBHOOK_SECRET }}",
              "operation": "equals"
            }
          ]
        }
      },
      "id": "validate-secret-5",
      "name": "Valida Webhook Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'unauthorized' } }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "unauthorized-response-5",
      "name": "Resposta: Não Autorizado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 460]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "uid", "value": "={{ $json.body.uid }}" },
            { "name": "foodName", "value": "={{ $json.body.foodName }}" },
            { "name": "quantity", "value": "={{ $json.body.quantity || '' }}" }
          ],
          "object": [
            { "name": "userDiagnostics", "value": "={{ $json.body.userDiagnostics || [] }}" },
            { "name": "userMedications", "value": "={{ $json.body.userMedications || [] }}" },
            { "name": "userProfile", "value": "={{ $json.body.userProfile || {} }}" }
          ]
        },
        "options": { "dotNotation": false }
      },
      "id": "set-context-5",
      "name": "Set: Normaliza Contexto",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "responseFormat": "json_object",
          "temperature": 0.3
        },
        "messages": {
          "values": [
            {
              "content": "Você é Belinha, nutricionista virtual especializada em diabetes. Avalie a compatibilidade do alimento (nome + quantidade) com o perfil do paciente.\n\nResponda APENAS em JSON com este schema EXATO: {\"score\": number (0-100), \"verdict\": \"verde\"|\"amarelo\"|\"vermelho\", \"glycemicImpact\": \"baixo\"|\"moderado\"|\"alto\", \"alternatives\": string[], \"whenOk\": string, \"explanation\": string, \"macros\": {\"calories\": number, \"carbs\": number, \"protein\": number, \"fat\": number}, \"compatibility\": {\"diagnostics\": string, \"medications\": string}, \"alerts\": string[]}.\n\nRegras:\n- verde (score 70-100): consumo livre dentro do plano\n- amarelo (score 40-69): consumo ocasional, atenção a quantidade\n- vermelho (score 0-39): evitar ou substituir\n- alerts: lista interações com medicações e contra-indicações por diagnóstico\n\nContexto:\n- Diagnósticos: {{ JSON.stringify($json.userDiagnostics) }}\n- Medicações: {{ JSON.stringify($json.userMedications) }}",
              "role": "system"
            },
            {
              "content": "Alimento: {{ $json.foodName }}\nQuantidade: {{ $json.quantity || 'não informada' }}",
              "role": "user"
            }
          ]
        }
      },
      "id": "openai-classify-5",
      "name": "OpenAI: Avalia Alimento",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [900, 300],
      "credentials": {
        "openAiApi": {
          "id": "openAiApi",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "object": [
            { "name": "evaluation", "value": "={{ Object.assign(JSON.parse($json.choices?.[0]?.message?.content || '{}'), { foodName: $('Set: Normaliza Contexto').item.json.foodName, quantity: $('Set: Normaliza Contexto').item.json.quantity, evaluatedAt: $now.toISO() }) }}" }
          ]
        },
        "options": { "dotNotation": false }
      },
      "id": "set-parse-5",
      "name": "Set: Monta Evaluation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [1120, 300],
      "notes": "Substitui Code de validação. Parse único + carimba foodName/quantity/evaluatedAt."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, evaluation: $json.evaluation, timestamp: $now.toISO() } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "success-response-5",
      "name": "Resposta: Sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 300],
      "notes": "Caller (evaluateFood Cloud Function) lê result.evaluation — contract: {evaluation: {...}}."
    }
  ],
  "connections": {
    "Webhook: Recebe Alimento": {
      "main": [
        [{ "node": "Valida Webhook Secret", "type": "main", "index": 0 }]
      ]
    },
    "Valida Webhook Secret": {
      "main": [
        [{ "node": "Set: Normaliza Contexto", "type": "main", "index": 0 }],
        [{ "node": "Resposta: Não Autorizado", "type": "main", "index": 0 }]
      ]
    },
    "Set: Normaliza Contexto": {
      "main": [
        [{ "node": "OpenAI: Avalia Alimento", "type": "main", "index": 0 }]
      ]
    },
    "OpenAI: Avalia Alimento": {
      "main": [
        [{ "node": "Set: Monta Evaluation", "type": "main", "index": 0 }]
      ]
    },
    "Set: Monta Evaluation": {
      "main": [
        [{ "node": "Resposta: Sucesso", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["programa-4d", "food", "belinha"],
  "pinData": {},
  "versionId": "e5f6a7b8-c9d0-e1f2-a3b4-c5d6e7f8a9b0",
  "id": "food-classifier-005",
  "_meta": {
    "description": "Avalia alimento (foodName + quantity) para paciente diabético considerando diagnósticos e medicações. Retorna {evaluation: {score, verdict, glycemicImpact, macros, compatibility, alerts, ...}}.",
    "envVars": {
      "WEBHOOK_SECRET": "Mesmo valor de N8N_WEBHOOK_SECRET no Firebase Functions"
    },
    "credentials": {
      "openAiApi": "Criar em n8n → Credentials → OpenAI API com chave de API"
    },
    "changelog_2026_05_20": [
      "BUG FIX: response key alinhada com o caller. Antes retornava {classification: ...}, agora {evaluation: ...} (evaluateFood Cloud Function lê result.evaluation)",
      "BUG FIX: payload agora respeita {uid, foodName, quantity, userDiagnostics, userMedications, userProfile} (antes lia só $json.body.foodName)",
      "REFACTOR: nó Code substituído por Set (parse + carimbos)",
      "REFACTOR: response_format=json_object + schema rico (macros, compatibility, alerts)",
      "FEATURE: prompt agora considera diagnostics e medications (antes ignorava o contexto)",
      "NAMING: workflow renomeado para '4D - Evaluate Food'"
    ],
    "follow_ups": [
      "Adicionar Qdrant Vector Store consultando 'Semaforo De Alimentos.docx' e 'Substituicoes para intolerantes a lactose.docx' antes da IA",
      "Cache de avaliações repetidas por foodName+diagnostics em Redis (TTL 7d)"
    ],
    "importInstructions": "1. Importar este JSON no n8n. 2. Configurar credencial OpenAI API. 3. Definir env WEBHOOK_SECRET. 4. NÃO ATIVAR — usuário ativa após verificar credenciais."
  }
}
