n8n-workflows/07-whatsapp-notifications.json
{
  "name": "4D - WhatsApp Notification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4d-send-whatsapp-notification",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: Recebe Notificação",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "4d-send-whatsapp-notification",
      "notes": "Caller: Firebase Functions sendWhatsAppNotification (callN8nWithRetry, sync). Payload: {uid, patient{uid,name,phone,email,status}, notification{title,message,type,priority,metadata}, timestamp}."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $request.headers['x-webhook-secret'] }}",
              "value2": "={{ $env.WEBHOOK_SECRET }}",
              "operation": "equals"
            }
          ]
        }
      },
      "id": "validate-secret",
      "name": "Valida Webhook Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'unauthorized' } }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "unauthorized-response",
      "name": "Resposta: Não Autorizado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 460]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "uid", "value": "={{ $json.body.uid }}" },
            { "name": "phoneRaw", "value": "={{ $json.body.patient?.phone || '' }}" },
            { "name": "phone", "value": "={{ ($json.body.patient?.phone || '').replace(/[^0-9+]/g, '') }}" },
            { "name": "title", "value": "={{ $json.body.notification?.title || 'Atualização do Programa 4D' }}" },
            { "name": "message", "value": "={{ $json.body.notification?.message || '' }}" },
            { "name": "type", "value": "={{ $json.body.notification?.type || 'manual' }}" },
            { "name": "priority", "value": "={{ $json.body.notification?.priority || 'normal' }}" },
            { "name": "actionUrl", "value": "={{ $json.body.notification?.metadata?.actionUrl || '' }}" },
            { "name": "formattedMessage", "value": "={{ ('🌸 *' + ($json.body.notification?.title || 'Atualização do Programa 4D') + '*\\n\\n' + ($json.body.notification?.message || '') + (($json.body.notification?.metadata?.actionUrl) ? '\\n\\n👉 ' + $json.body.notification.metadata.actionUrl : '')).substring(0, 1000) }}" }
          ]
        },
        "options": { "dotNotation": false }
      },
      "id": "set-extract",
      "name": "Set: Extrai e Formata",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [680, 300],
      "notes": "Substitui Code antigo. Sanitiza telefone (só dígitos e +), monta mensagem WhatsApp truncada a 1000 chars."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "uid-present",
              "leftValue": "={{ $json.uid }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            },
            {
              "id": "phone-e164",
              "leftValue": "={{ $json.phone }}",
              "rightValue": "^\\+55\\d{10,11}$",
              "operator": { "type": "string", "operation": "regex" }
            },
            {
              "id": "message-present",
              "leftValue": "={{ $json.message }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-payload",
      "name": "Payload Válido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300],
      "notes": "Valida uid presente + phone formato E.164 BR (+55DDDNÚMERO) + message não vazia. Substitui validação que estava no Code."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'invalid-payload', detail: { uid: $json.uid, phone: $json.phoneRaw, hasMessage: !!$json.message } } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "invalid-payload-response",
      "name": "Resposta: Payload Inválido",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 460]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twilioApi",
        "operation": "send",
        "from": "whatsapp:{{ $env.TWILIO_WHATSAPP_FROM }}",
        "to": "=whatsapp:{{ $json.phone }}",
        "message": "={{ $json.formattedMessage }}"
      },
      "id": "send-whatsapp",
      "name": "Envia WhatsApp (Twilio)",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1120, 240],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueErrorOutput",
      "credentials": {
        "twilioApi": {
          "id": "twilio-creds",
          "name": "Twilio WhatsApp"
        }
      },
      "notes": "Justificativa: Twilio é nó nativo. Evolution API (alternativa local) exigiria HTTP raw — manter Twilio como padrão."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, messageId: $json.sid, phone: $('Set: Extrai e Formata').item.json.phone, providerResponse: { sid: $json.sid, status: $json.status, dateCreated: $json.dateCreated }, timestamp: $now.toISO() } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "success-response",
      "name": "Resposta: Sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 200],
      "notes": "Caller (sendWhatsAppNotification helper) grava result inteiro em providerResponse no Firestore."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'whatsapp-send-failed', detail: $json.error?.message || 'unknown', phone: $('Set: Extrai e Formata').item.json.phone } }}",
        "options": {
          "responseCode": 502
        }
      },
      "id": "error-response",
      "name": "Resposta: Erro de Envio",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 340],
      "notes": "Chega aqui pela saída de erro do Twilio (onError=continueErrorOutput)."
    }
  ],
  "connections": {
    "Webhook: Recebe Notificação": {
      "main": [
        [{ "node": "Valida Webhook Secret", "type": "main", "index": 0 }]
      ]
    },
    "Valida Webhook Secret": {
      "main": [
        [{ "node": "Set: Extrai e Formata", "type": "main", "index": 0 }],
        [{ "node": "Resposta: Não Autorizado", "type": "main", "index": 0 }]
      ]
    },
    "Set: Extrai e Formata": {
      "main": [
        [{ "node": "Payload Válido?", "type": "main", "index": 0 }]
      ]
    },
    "Payload Válido?": {
      "main": [
        [{ "node": "Envia WhatsApp (Twilio)", "type": "main", "index": 0 }],
        [{ "node": "Resposta: Payload Inválido", "type": "main", "index": 0 }]
      ]
    },
    "Envia WhatsApp (Twilio)": {
      "main": [
        [{ "node": "Resposta: Sucesso", "type": "main", "index": 0 }],
        [{ "node": "Resposta: Erro de Envio", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["programa-4d", "whatsapp", "notificacoes"],
  "pinData": {},
  "versionId": "a7b8c9d0-e1f2-a3b4-c5d6-e7f8a9b0c1d2",
  "id": "whatsapp-notification-007",
  "_meta": {
    "description": "Envia notificações WhatsApp via Twilio. Valida X-Webhook-Secret, sanitiza telefone, valida E.164 BR (+55DDDNÚMERO), formata mensagem com emoji+actionUrl, 3 retries com backoff. Resposta inclui providerResponse (sid, status) que é gravada no Firestore pelo caller.",
    "envVars": {
      "WEBHOOK_SECRET": "Mesmo valor de N8N_WEBHOOK_SECRET no Firebase Functions",
      "TWILIO_WHATSAPP_FROM": "Número Twilio sandbox ou produção (sem prefixo whatsapp:)"
    },
    "credentials": {
      "twilioApi": "Criar em n8n → Credentials → Twilio API com Account SID e Auth Token"
    },
    "changelog_2026_05_20": [
      "REFACTOR: nó Code (extrair+validar+formatar) substituído por Set + IF (regex E.164)",
      "BUG FIX: removido nó Atualiza Firestore (HTTP raw com OAuth genérico) — caller (sendWhatsAppNotification helper) já grava providerResponse no Firestore com Admin SDK; este nó duplicava persistência",
      "REFACTOR: error handling via Twilio onError=continueErrorOutput (era 'error' connection legacy)",
      "FEATURE: sanitiza telefone removendo espaços/parênteses/traços antes de validar regex",
      "FEATURE: actionUrl agora vem de notification.metadata.actionUrl (alinhado com payload do caller)",
      "NAMING: workflow renomeado para '4D - WhatsApp Notification'"
    ],
    "follow_ups": [
      "Considerar substituir Twilio por Evolution API self-hosted (justificaria nó HTTP raw — sem nó nativo no n8n)",
      "Adicionar Wait + segunda tentativa se Twilio retornar status 'undelivered' após 30s (webhook do Twilio é fora de escopo aqui)"
    ],
    "importInstructions": "1. Importar este JSON no n8n. 2. Configurar credencial Twilio API. 3. Definir env WEBHOOK_SECRET e TWILIO_WHATSAPP_FROM. 4. NÃO ATIVAR — usuário ativa após verificar credenciais."
  }
}
