n8n-workflows/07-whatsapp-notifications.json
{
  "name": "07 - WhatsApp Notifications (4D)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4d-send-whatsapp-notification",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: Recebe Notificação",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "4d-send-whatsapp-notification"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $request.headers['x-webhook-secret'] }}",
              "value2": "={{ $env.WEBHOOK_SECRET }}",
              "operation": "equals"
            }
          ]
        }
      },
      "id": "validate-secret",
      "name": "Valida Webhook Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'unauthorized' } }}",
        "options": {
          "responseCode": 403
        }
      },
      "id": "unauthorized-response",
      "name": "Resposta: Não Autorizado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 460]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst uid = body.uid;\nconst phone = body.patient?.phone || body.phone;\nconst title = body.notification?.title || body.title || 'Atualização do Programa 4D';\nconst message = body.notification?.message || body.message || '';\nconst type = body.notification?.type || body.type || 'manual';\nconst priority = body.notification?.priority || body.priority || 'normal';\nconst actionUrl = body.notification?.actionUrl || body.actionUrl || '';\n\nif (!uid || !phone || !message) {\n  throw new Error('uid, phone e message são obrigatórios');\n}\n\n// Valida formato E.164 brasileiro\nconst phoneRegex = /^\\+55\\d{10,11}$/;\nif (!phoneRegex.test(phone)) {\n  throw new Error(`Telefone inválido: ${phone}. Esperado: +55XXXXXXXXXXX`);\n}\n\n// Formata mensagem WhatsApp (max 1000 chars)\nlet formatted = `🌸 *${title}*\\n\\n${message}`;\nif (actionUrl) formatted += `\\n\\n👉 ${actionUrl}`;\nif (formatted.length > 1000) formatted = formatted.substring(0, 997) + '...';\n\nreturn [{ json: { uid, phone, title, message: formatted, type, priority, actionUrl, timestamp: new Date().toISOString() } }];"
      },
      "id": "extract-validate",
      "name": "Extrai e Valida Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.phone }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "check-phone",
      "name": "Telefone Válido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'invalid-phone' } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "invalid-phone-response",
      "name": "Resposta: Telefone Inválido",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 460]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twilioApi",
        "operation": "send",
        "from": "whatsapp:{{ $env.TWILIO_WHATSAPP_FROM }}",
        "to": "whatsapp:{{ $json.phone }}",
        "message": "={{ $json.message }}"
      },
      "id": "send-whatsapp",
      "name": "Envia WhatsApp (Twilio)",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1120, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "twilioApi": {
          "id": "twilio-creds",
          "name": "Twilio WhatsApp"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://firestore.googleapis.com/v1/projects/{{ $env.FIREBASE_PROJECT_ID }}/databases/(default)/documents/users/{{ $('Extrai e Valida Dados').item.json.uid }}/notifications/{{ $now.toMillis() }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "={{ JSON.stringify({ status: { stringValue: 'sent' }, messageId: { stringValue: $json.sid || '' }, sentAt: { timestampValue: new Date().toISOString() } }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "update-firestore-sent",
      "name": "Atualiza Firestore: Enviado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, messageId: $('Envia WhatsApp (Twilio)').item.json.sid, phone: $('Extrai e Valida Dados').item.json.phone, timestamp: $now.toISO() } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "success-response",
      "name": "Resposta: Sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: $input.first().json.error?.message || 'whatsapp-send-failed', phone: $('Extrai e Valida Dados').item.json.phone } }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "error-response",
      "name": "Resposta: Erro de Envio",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1340, 460]
    }
  ],
  "connections": {
    "Webhook: Recebe Notificação": {
      "main": [
        [{ "node": "Valida Webhook Secret", "type": "main", "index": 0 }]
      ]
    },
    "Valida Webhook Secret": {
      "main": [
        [{ "node": "Extrai e Valida Dados", "type": "main", "index": 0 }],
        [{ "node": "Resposta: Não Autorizado", "type": "main", "index": 0 }]
      ]
    },
    "Extrai e Valida Dados": {
      "main": [
        [{ "node": "Telefone Válido?", "type": "main", "index": 0 }]
      ]
    },
    "Telefone Válido?": {
      "main": [
        [{ "node": "Envia WhatsApp (Twilio)", "type": "main", "index": 0 }],
        [{ "node": "Resposta: Telefone Inválido", "type": "main", "index": 0 }]
      ]
    },
    "Envia WhatsApp (Twilio)": {
      "main": [
        [{ "node": "Atualiza Firestore: Enviado", "type": "main", "index": 0 }]
      ],
      "error": [
        [{ "node": "Resposta: Erro de Envio", "type": "main", "index": 0 }]
      ]
    },
    "Atualiza Firestore: Enviado": {
      "main": [
        [{ "node": "Resposta: Sucesso", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["programa-4d", "whatsapp", "notificacoes"],
  "pinData": {},
  "_meta": {
    "description": "Recebe pedidos de notificação do Firebase Functions e envia via WhatsApp Business (Twilio). Valida o webhook secret, o formato do telefone (+55XXXXXXXXXXX) e faz 3 tentativas automáticas em caso de falha. Atualiza status no Firestore após envio.",
    "envVars": {
      "WEBHOOK_SECRET": "Mesmo valor de N8N_WEBHOOK_SECRET no Firebase Functions",
      "TWILIO_WHATSAPP_FROM": "Ex: whatsapp:+14155238886 (número Twilio sandbox ou produção)",
      "FIREBASE_PROJECT_ID": "Ex: bela-4d-app"
    },
    "credentials": {
      "twilioApi": "Criar em n8n → Credentials → Twilio API com Account SID e Auth Token"
    },
    "importInstructions": "1. Importar este JSON no n8n (Workflows → Import). 2. Configurar credenciais Twilio. 3. Definir variáveis de ambiente. 4. Ativar o workflow."
  }
}
